header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    background-color: rgb(149, 42, 165);
    z-index: 1;
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    color: white;
}

.navbar ul li a {
    color: white;
    align-items: center;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.toggle {
    transform: rotate(90deg);
    color: white;
    margin-left: 50px;
}